@use "../../sass/utils/colors.scss" as color;

.button {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background-color: transparent;
  cursor: pointer;

  &--primary {
    color: color.$base-color-secondary;
    border: 1px solid color.$base-color-secondary;
    opacity: 1;

    &:hover {
      background-color: rgba(color.$base-color-primary, 0.5);
    }
  }

  &--secondary {
    border: 1px solid color.$base-color-tertiary;

    &:hover {
      border: 1px solid rgba(color.$base-color-tertiary, 0.5);
      color: rgba(color.$base-color-tertiary, 0.5);
    }
  }
}
