@use "../../sass/utils/colors.scss" as color;

.container {
  height: 40vh;
  width: 100%;
  position: relative;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    top: calc(50% - 0.5rem);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    color: color.$base-color-secondary;
    font-size: 100%;
    width: 30%;
    border-bottom: 1px solid color.$base-color-secondary;
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
  }

  &__description {
    position: absolute;
    top: calc(50% + 0.5rem);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    color: color.$base-color-secondary;
    font-size: 80%;
    font-style: italic;
    width: 100%;
    padding-top: 1rem;
    margin-top: 0.5rem;
  }

  Button {
    position: absolute;
    bottom: 0%;
    left: 50%;
    right: 50%;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    transform: translate(-50%, -50%);
    width: fit-content;
  }

  &:hover &__description,
  &:hover Button,
  &:hover &__title {
    opacity: 1;
  }
}
