@use "../../sass/utils/colors.scss" as color;
@import "../../sass/mixins/mediaQueries.scss";

.container {
  height: 15rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  cursor: pointer;

  @include xsmall {
    height: 10rem;
  }

  @include medium {
    height: 10rem;
  }

  @include large {
    height: 13rem;
  }

  @include xlarge {
    height: 17rem;
  }

  @include xxlarge {
    height: 30rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    top: calc(50% - 0.5rem);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    color: color.$base-color-secondary;
    font-size: 100%;
    width: 30%;
    border-bottom: 1px solid color.$base-color-secondary;
    padding-bottom: 0.3rem;
    margin-bottom: 0.5rem;
  }

  &__description {
    position: absolute;
    top: calc(50% + 0.5rem);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    color: color.$base-color-secondary;
    font-size: 80%;
    font-style: italic;
    width: 100%;
    padding-top: 1rem;
    margin-top: 0.5rem;
  }

  Button {
    position: absolute;
    bottom: 0%;
    left: 50%;
    right: 50%;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    transform: translate(-50%, -50%);
    width: fit-content;
  }

  &:hover &__description,
  &:hover Button,
  &:hover &__title {
    opacity: 1;
  }
}
